################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestAutothonExercise1/obj
/TestAutothonExercise1/bin/Debug/netcoreapp2.1
/.vs/TestAutothonExercise1
